absl-py==0.9.0
astor==0.8.1
attrs==19.3.0
Automat==20.2.0
boto3==1.12.8
botocore==1.15.8
certifi==2022.12.7
chardet==3.0.4
cloudpickle==0.6.1
coloredlogs==10.0
constantly==15.1.0
cycler==0.10.0
docutils==0.15.2
future==0.17.1
gast==0.3.3
gevent==1.4.0
greenlet==0.4.15
grpcio==1.27.2
h5py==2.10.0
humanfriendly==7.1.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
jmespath==0.9.5
jsonschema==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
klein==17.10.0
Markdown==3.2.1
matplotlib==2.2.5
mock==4.0.1
numpy==1.18.1
packaging==18.0
protobuf==3.11.3
PyHamcrest==2.0.1
pyparsing==2.4.6
python-crfsuite==0.9.6
python-dateutil==2.8.1
pytz==2019.3
rasa-nlu==0.15.1
requests==2.23.0
ruamel.yaml==0.15.100
s3transfer==0.3.3
scikit-learn==0.20.4
scipy==1.4.1
simplejson==3.17.0
six==1.14.0
sklearn-crfsuite==0.3.6
tabulate==0.8.6
tensorboard==1.13.1
tensorflow==1.13.2
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.43.0
Twisted==19.10.0
typing==3.7.4.1
urllib3==1.25.8
Werkzeug==1.0.0
zope.interface==4.7.1
